#logo {
  font-family: "Luckiest Guy", cursive;
  a {
    all: unset;
    &:hover {
      cursor: pointer;
    }
  }
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  li {
    button {
      all: unset;

      padding: 8px;
      border: solid 4px rgb(21, 21, 21);
      width: 100px;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
