@import 'primeicons/primeicons.css';
@import '../assets/header';


.content{
    height: 100vh;
    width: 600px !important;
    margin: auto;
.home-content{
    padding: 24px;
    background-color: whitesmoke;
    border: 5px solid rgb(21,21,21);
    h1{
        font-family: 'Luckiest Guy', cursive;
    }
    p{
        padding: 12px;
        text-align: center;
    }
    a{
        all: unset;
        
        border: solid 4px rgb(21,21,21);
        padding: 8px;
        background-color: #9e0e4c;
        color: white;
        &:hover{
            cursor: pointer;
        }
        
    }
}
   
}